
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Slated Data Science</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a href='#'><font color ='#a0c9ff'>Model A  V .01</font></a>
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-auto">
          <h1 class="mt-5">A webpage to interact with models.</h1>
          <p class="lead">Bootstrap pre-installed.</p>
          <p>SDS 0.0.1</p>
        </div>
      </div>
          <div class = 'row'>
            <div class="col col-lg-7">
                <form action="/" method = 'post'>
                    <div class="form-group">
                      <label for="feature1">Feature 1</label>
                      <input type="text" class="form-control" name="feature1" aria-describedby="emailHelp" placeholder="Feature 1">
                    </div>
                    <div class="form-group">
                      <label for="feature2">Feature 2</label>
                      <input type="text" class="form-control" name="feature2" placeholder="Feature 2">
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" name="boolfeature">
                      <label class="form-check-label" for="exampleCheck1">Bool Feature</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
           </div>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
